<h2><%=@patient.name %></h2>
Age: <%=@patient.age%>

<% @patient.appointments.each do |appointment| %>
    <li>
    <%=appointment.appointment_datetime.strftime("%B %d, %Y")%> at  <%= appointment.appointment_datetime.strftime("%T" )%>
    <%=link_to appointment.doctor.name, doctor_path(appointment.doctor)%>
    </li>
<%end%>
